[Unit]
Description=Run the glfans MySQL backup daily

[Timer]
OnCalendar=*-*-* 04:23:00
RandomizedDelaySec=30m
Persistent=true
AccuracySec=1m
Unit=glfans-mysql-backup.service

[Install]
WantedBy=timers.target
